<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test Suit for IMDB and Mobile automation testing" verbose="1" >
    <test name="Mobile Tests for IMDB">
        <classes>
            <class name="tests.IMDBTests" >
            </class>
        </classes>
    </test>
</suite>
